version: '3'
services:
  nginx:
    build:
      context: .
      dockerfile: docker/nginx/nginx_dockerfile
    volumes:
      - ./docker/nginx:/etc/nginx/conf.d:ro
    command: nginx-debug -g 'daemon off;'
    depends_on:
      - onadata
    links:
      - onadata
    ports:
      - 80:80

  db:
    image: kartoza/postgis:9.6-2.4
    container_name: "postgis"
    environment:
      - POSTGRES_DB=onadata
      - POSTGRES_PASSWORD=onadata
      - POSTGRES_USER=onadata
    volumes:
      - .postgres_data/:/var/lib/postgresql:rw
    ports:
      - 5432

  rabbitmq:
    image: gonkulatorlabs/rabbitmq:3.6.1
    ports:
      - 15672
      - 5671
      - 5672
#      - 15672:15672

  onadata:
    build:
      context: .
    command: bash -c "./docker/wait-for-it.sh db:5432 && ./docker/docker-entrypoint.sh"
    environment:
      - PYTHONUNBUFFERED=1
      - DEFAULT_DB_HOST=db
      - DEFAULT_DB_PORT=5432
      - DEFAULT_DB_NAME=onadata
      - DEFAULT_DB_USER=onadata
      - DEFAULT_DB_PASS=onadata
      - DEV_LOGIN_USERNAME=admin
      - DEV_LOGIN_PASSWORD=admin
      - MEDIA_URL=http://localhost:8000/media/
      - BROKER_URL=amqp://guest:guest@rabbitmq:5672//
      - DJANGO_SETTINGS_MODULE=onadata.settings.docker
      - DEFAULT_DB_ENGINE=django.contrib.gis.db.backends.postgis
    volumes:
      - .:/srv/onadata
    depends_on:
      - db
      - rabbitmq
    links:
      - db
      - rabbitmq
    ports:
      - 8000
